body {
    background-color: wheat;

}

h1 {
    background-color: olivedrab;
    color: antiquewhite;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    background-color: chocolate;
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

li {
    background-color: rgb(63, 61, 28);
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}